1. Организационные_решения_кейс.docx
2. Система оценки орг решения.docx
3_Сценарий_развертывания_кейса_орг_решения_.docx
4_Методика_расчета_экономической_эффективности_переезда_склада.docx
6_сбор_информации_по_складам_на_конец_2022.xlsx
7_ОФС_1_1_0010_Общая_фармакопейная_статья_Хранение_лекарстве.docx
8_Решение_Совета_Евразийской_экономической_комиссии_от_03_11_2.docx
9_Презентации_команд_структура_и_примеры_слайдов.pptx
.claude