# Библиотека для дискретно-событийного моделирования
simpy==4.1.1

# Библиотека для анализа данных и создания DataFrame
pandas==2.2.2

# Библиотека для создания графиков и визуализаций
matplotlib==3.9.0